html
{ height: 100%;
}

*
{ margin: 0;
  padding: 0;
}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
}


h1, h2, h3, h4, h5, h6
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;
}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;
}

h6
{ color: #362C20;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #29425E;
}

a:hover
{ text-decoration: none;
}

.left
{ float: left;
  width: auto;
  margin-right: 10px;
}

.right
{ float: right;
  width: auto;
  margin-left: 10px;
}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;
}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul
{ margin: 2px 0 22px 17px;
}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
}

ol
{ margin: 8px 0 22px 20px;
}

ol li
{ margin: 0 0 11px 0;
}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;
}



.mySlides {display: none;}
img
{vertical-align: middle;
border: 0;
}

/* Slideshow container */
#header {
  width: 100%;
  max-width: 1000px;
  height: 360px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.Uni {
  font-size: 8px;
  padding: 0 0 0 0;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  top: 5%;
  height: auto;
  width: 20%;
  text-align: left;
  background: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.Uni h2 {
  padding: 5px 5px 5px 5px;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  color: #000;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-align: left;
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 0 0 0 0;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  top: 85%;
  height: auto;
  width: 25%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
}

.text h1{
  padding: 10px 0 10px 10px;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  color: #000;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: left;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .menubar {font-size: 11px}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .menubar {font-size: 11px}
}

.menubar
{ display: grid;
  grid-template-areas: "blankf home cv publications interests contact blanke";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  margin: auto;
  grid-gap: 15px;
  width: 100%;
  max-width: 1000px;
  height: 72px;
  padding: 0;
  background: #29425E;
}

.menubar a
{ width: 100%;
  height: 100%;
  text-decoration: none;
  background: #29425E;
  font-size: 20px;
  color: #FFF;
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  cursor: pointer;
  text-align: center;
  }

#current
{ width: 100%;
  height: 100%;
  text-decoration: underline;
  background: #29425E;
  font-size: 20px;
  color: #FFF;
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  cursor: auto;
  }

.menubar h1
{ width: 100%;
  height: auto;
  text-decoration: none;
  background: #000;
  font-size: 20px;
  color: #FFF;
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  }

.menubar a:hover
{ color: #FFF;
  text-decoration: underline;
  }

Blankf
{ grid-area: blankf;
  }

Blanke
{ grid-area: blanke;
  }

Home
{ grid-area: home;
}

CV
{ grid-area: cv;
  }

Pub
{grid-area: publications;
  }

Interests
{grid-area: interests;
  }

Contact
{grid-area: contact;
  }

ul#menu, ul#menu li
{ float: left;
  margin: 0;
  padding: 0;
}

ul#menu li
{ list-style: none;
}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block;
  float: left;
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
}

#site_content
{ width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #FFF;
  display: flex;
  justify-content: center;
}


#content
{ text-align: left;
  width: 595px;
  padding: 24px;
}

#content ul
{ margin: 2px 0 22px 0px;
}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

#footer
{ width: 100%;
  max-width: 1000px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 10px 0 10px 0;
  text-align: center;
  background: #29425E;
  color: #FFF;
  letter-spacing: 0.1em;
}

#footer a
{ color: #FFF;
  text-decoration: none;
}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;
}

#footer h2
{
  padding: 0px;
}

.rules {
  width: 100%;
  max-width: 414px;
  max-height: 736px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: block;
  margin: auto;
}
.rules p {
  padding: 5px;
  color: #FFF;
  background: #000;
  text-align: center;
}
.rules .return {
  font-size: 30px;
  padding: 10px;
  display: block;
  color: #000;
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  text-align: center;
  width: inherit;
}

.container {
  width: 100%;
  max-width: 414px;
  max-height: 736px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(7,1fr);
}

.titleBlock {
  grid-row: 1/2;
  text-align: center;
  background: #000;
}

.titleBlock h1,.titleBlock h2 {
  margin: 0px 50px;
  color:    #D5AD6D; /*if no support for background-clip*/
  background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleBlock h1 {
  font-size: 50px;
}
.titleBlock h2{
  font-size: 30px;
}


.scoreBoard {
  font-size: 20px;
  grid-row: 2/3;
  background: #000;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}
.bestTitle {
  text-align: center;
  color: #fff;
}
.bestScore {
  text-align: center;
  color: #fff;
}
.targetTitle {
  text-align: center;
  color: #fff;
}
.targetNum {
  text-align: center;
  color: #fff;
}

#progressBar {
  grid-row: 3/4;
  width: 100%;
  margin: auto;
  height: 100%;
  background-image: linear-gradient(to bottom, #FF0000, #DC143C);
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
}

#progressBar .bar {
  height: 100%;
  text-align: right;
  width: 100%;
  background-image: linear-gradient(to bottom, #32CD32, #228B22);
  box-sizing: border-box;
}


.calculator__display {
  width: auto;
  grid-row: 4/5;
  font-size: 25px;
  background-color: #222222;
  color: #fff;
  padding: 0.5em 0.75em;
  text-align: right;
  vertical-align: middle;
}

.calculator__keys {
  width: inherit;
  grid-row: 5/8;
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  max-width: inherit;
}

.calculator__keys > * {
  font-size: 20px;
  background-color: #fff;
  padding: 0.5em 0.25em;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.calculator__keys > .is-depressed::before {
  cursor: not-allowed;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: 1 / span 4;
}
.key--clear {
  background-color: #eee;
}
